

.filterAddContent {
  justify-content: center;
  margin: 0 auto;
  display: grid;
}
.filterButtonHover {
  display: grid;
  justify-content: center;
}
.filterContentActive {
  display: block;
  font-family: "Montserrat";
  font-size: 16px;
  color: #1d1c1c;
  font-weight: 700;
  line-height: 18px;
  margin: 0 auto;
  padding: 10px 0;
}
.filterContent {
  display: none;
}
.filterContentActive li {
  padding: 10px 0;
  padding: 10px;
  border: 1px solid #1d1c1c;
  text-align: center;
  width: 200px;
}
.filterContentActive li:hover {
  background-color: #c9c4c0;
  cursor: pointer;
}
.filterButton {
  width: 200px;
  margin: 0 auto;
  height: 40px;
  background-color: #c9c4c0;
  border: 2px solid #1d1c1c;
  font-family: "Montserrat";
  font-size: 16px;
  color: #1d1c1c;
  font-weight: 700;
  line-height: 18px;
  border-radius: 5px;
  margin: 20px auto;
}
.filterButton:hover {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 1px 1px 10px 1px #d3d3d3;
}
.passwordWindow {
  width: 300px;
  height: 160px;
  border: 1px solid rgb(8, 8, 8);
  background-color: rgba(122, 122, 122, 0.6);
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.passwordWindow:hover {
  border: 1px solid white;
}
.passwordWindowNo {
  display: none;
}
.Submit {
  display: block;
  height: 30px;
  width: 100px;
  padding: 0;
  margin: 20px auto;
}
.addContentInput input{
  margin: 2px auto;
  width: 200px;
  height: 30px;
  padding: 0 10px;
  background-color: inherit;
  color: black;
}
.addContentInput input::placeholder {
  color: black;
}
.addContentButton {
  display: block;
  width: 100px;
  height: 30px;
  background-color: #c9c4c0;
  border: 2px solid #1d1c1c;
  font-family: "Montserrat";
  font-size: 16px;
  color: #1d1c1c;
  font-weight: 700;
  line-height: 18px;
  border-radius: 5px;
  margin: 10px auto;
}
.inputError {
  display: flex;
  justify-content: center;
  color: red;
  margin: 0 auto;
}
.inputFieldError {
  border-color: red;
}