.introPage h2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 30px;
  color: #555555;
  text-align: center;
  padding: 10px 0;
}
.introPage p {
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  color: #8c8c8c;
  font-weight: 300;
  padding: 10px 0;
}
.introPage {
  height: 120px;
}
.addContent {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.filter ul {
  display: inline;
}
.filter {
  text-align: center;
}
.filter ul li {
  display: inline-block;
  margin: 20px;
}
.buttonFilter {
  border: 1px solid #ebebeb;
  height: 32px;
  width: 100px;
  border-radius: 3px;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #8c8c8c;
}
.buttonFilter:hover {
  background-color: #998675;
  color: #fff;
}
.ContentList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-column-gap: 20px;
  /* padding: 0 10px; */
}
.Content {
  width: 100%;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 1px 10px 1px #d3d3d3;
  border-radius: 10px;
  padding: 10px 10px 80px 10px;
  margin: 10px 0;
  position: relative;
}
.react-player {
  margin: 0 auto;
}
.react-player div:first-child {
  height: 270px !important;
}
.content-image img {
  width: 100%;
}
.content-name {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 30px;
  color: #998675;
}
.content-description {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
  color: #000;
  height: 100%;
  padding: 10px 0;
  text-align: center;
}
.content-story {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
  color: #000;
  height: 100%;
  padding: 10px 0;
  text-align: justify;
}
.LoadMore {
  position: absolute;
  left: 0;
  right: 0;
  margin: 20px auto;
}
.Know-more {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
