.upperheader {
  display: grid;
  grid-template-columns: 3fr 6fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  width: 1170px;
  z-index: 40;
  width: 100%;
}
.logo img {
  padding: 0 10px;
  max-width: 300px;
}
.searcharea {
  margin: 0 auto;
}
.navigationMenu:after {
  content: "";
  clear: both;
  display: block;
}
.menu {
  display: grid;
  align-items: center;
}
.menuPoints {
  float: left;
  margin: 0 13px;
}
.menuPoints a {
  display: block;
  color: #fff;
  font-family: "Monserrat";
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  line-height: 30px;
}
.menuPoints a:hover {
  color: #9e8f7c;
}
.searcharea {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
}
.cart {
  background-image: url(../HeaderImages/icon-cart.png);
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 25px;
  background-color: inherit;
  margin: 0 13px;
}
.search {
  background-image: url(../HeaderImages/icon-search.png);
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  height: 26px;
  width: 25px;
  background-color: inherit;
  margin: 0 13px;
}
.cart:hover,
.search:hover {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
}
