.wrapper {
  padding-top: 30px;
  padding-bottom: 20px;
}

.LoadMore {
  position: absolute;
  left: 0;
  right: 0;
  margin: 20px auto;
}

.main {
  min-height: 73vh;
  margin: auto;
  padding-bottom: 40px;
}

.Know-more {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 25;
}

@media screen and (max-width: 1024px) {
  .main {
    min-height: 69vh;
  }
}
@media screen and (max-width: 768) {
  .main {
    min-height: 50vh;
  }
}