.wrapper {
  padding-top: 30px;
  padding-bottom: 50px;
}
.Add-content {
  background-color: #998675;
  width: 170px;
  height: 53px;
  border: none;
  border-bottom: 3px solid #736357;
  border-radius: 5px;
  margin: 10px auto 20px auto;
  font-family: "Raleway";
  font-size: 14px;
  line-height: 23px;
  color: #fff;
  font-weight: 600;
}
.Add-content:hover {
  background-color: #fff;
  border-bottom: 3px solid #d6d2ce;
  box-shadow: 1px 1px 10px 1px #d3d3d3;
  color: #998675;
  cursor: pointer;
}
